.response-card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1%;
  margin: 3%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

.quiz-name {
  font-size: 25x;
  margin-bottom: 5px; 
  color: #333;
}

.score-and-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.score-container {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 3px 0;
  color: #007bff;
}

.score-label {
  margin-right: 5px;
}

.execution-date {
  font-size: 20px;
  color: #666;
}
